{% extends 'base.html' %}
{% load static %}
{% include 'snippets/header.html' %}

{% block content %}
<h1>Columbia University</h1>
<p><h3>Columbia University is one of the most prestigious and authoritative universities in the USA, founded in 1754 (the fifth oldest institution of higher education in the USA) with the support of King George II of Great Britain. It has 33,000 students, most of them undergraduate and graduate students.
    The main campus of Columbia University is located in Manhattan on the territory of 6 blocks of New York, many of the university's buildings are listed on the US National Register of Historic Places. Columbia owns 25 libraries.
    The university is a member of the Ivy League, is one of the founding universities of the prestigious Association of American Universities. Columbia University is a doctoral university with a very high scientific activity. Within the walls of Columbia University, many scientific and technical discoveries were made, including the fission of uranium and the working prototype of a laser. Past and current faculty at the university include 30 MacArthur Award winners, 43 National Academy of Sciences award winners, 143 American Academy of Arts and Sciences award winners, and other prestigious award winners. The Pulitzer Prize is awarded by the university's journalism department.
    Alumni include five US Founding Fathers, three US Presidents (Barack Obama, Franklin Delano Roosevelt, and Theodore Roosevelt), over 100 Pulitzer Prize winners, and over 40 Oscar winners. 84 Nobel laureates have studied or taught at Columbia.</h3></p>
<img src="{% static 'img/columbia1.jpg' %}" alt="mit">
<h2>Why go to the Columbia University?</h2>
<p><h3>- a unique chance to get a diploma from one of the most famous universities in the world;</h3></p>
<p><h3>- dozens of student organizations operate at the university, it even has its own radio station, two newspapers, a magazine and a television studio;</h3></p>
<p><h3>- 95% of graduates find a job within six months after graduation, the university ranks 21st in the world ranking of graduate employability (according to QS - Quacquarelli Symonds).</h3></p>


<h2>Strong directions:</h2>
<p><h4>- journalism and media communications</h4></p>
<p><h4>- humanities and social sciences (global studies, history, philosophy, sociology, psychology, political science and economics)</h4></p>
<p><h4>- cinema, theater and dance</h4></p>
<p><h4>- engineering and computer science</h4></p>
<p><h4>- architecture</h4></p>
<p><h4>- physics and mathematics</h4></p>

{% endblock %}

{% include 'snippets/footer.html' %}