{% extends 'base.html' %}
{% load static %}
{% include 'snippets/header.html' %}

{% block content %}
<h1>MIT University</h1>
<p><h3>The Massachusetts Institute of Technology (MIT) is a US private research university founded in 1861 in response to the country's rapid industrial development. The university has almost 12,000 students from 115 countries. The MIT campus is located 3 miles from downtown Boston. It is built in a modern urban style with colorful garden areas and is convenient for cycling and walking. The campus houses laboratories for a wide range of scientific disciplines, as well as an educational working nuclear reactor and an artificial intelligence research center.
    The Massachusetts Institute of Technology is considered a doctoral university with a very high scientific activity, according to the Carnegie classification of institutions of higher education. Every year, the university spends about $1 billion on research - according to this indicator, it ranks 14th in the United States. MIT is one of the first universities to collaborate with other universities, business, and the government on research. For example, the university actively cooperates with Harvard in the field of medicine and technology (largely due to the geographical proximity of the campuses). MIT students can take courses from Harvard University, and vice versa.
    The name of the university is associated with 97 Nobel laureates (40 of them are alumni), 26 Turing Prize winners, 8 Fields Medalists, 50 MacArthur Scholars and 80 Marshall Scholars. Also, former UN Secretary General Kofi Annan, Israeli Prime Minister Benjamin Netanyahu, Intel founder Robert Noyce and others studied at the university.</h3></p>
<img src="{% static 'img/mit.jpeg' %}" alt="mit">
<h2>Why go to the Massachusetts Institute of Technology?</h2>
<p><h3>- there are more than 500 student organizations and groups at the university - you can join any or create your own; university sports teams play in professional student leagues in 33 sports;</h3></p>
<p><h3>unique employment opportunities - the university takes 1st place in the world ranking of graduate employability (according to QS - Quacquarelli Symonds). Students do internships during their studies, and graduates work at Google, Oracle, Amazon, McKinsey Accenture, Apple, Boeing and Microsoft in high positions.</h3></p>

<h2>Strong directions:</h2>
<p><h4>- engineering</h4></p>
<p><h4>- computer science and information technology</h4></p>
<p><h4>- maths</h4></p>
<p><h4>- architecture</h4></p>
<p><h4>- physics, chemistry, biology</h4></p>
<p><h4>- business and economics</h4></p>

{% endblock %}

{% include 'snippets/footer.html' %}