{% load static %}
 <!-- Footer Start -->
<div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Links</h3>
                            <ul>
                                <li><a href="{% url 'university:mit' %}">MIT University</a></li>
                                <li><a href="{% url 'university:stanford' %}">Stanford University</a></li>
                                <li><a href="{% url 'university:harvard' %}">Harvard University</a></li>
                                <li><a href="{% url 'university:columbia' %}">Columbia University</a></li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>Bunyodkor, street 7G</p>
                                <p><i class="fa fa-envelope"></i>joraev.azam@gmail.com</p>
                                <p><i class="fa fa-phone"></i>+998993143808</p>
                                <div class="social">
                                    <a href="https://t.me/joraev_a"><i class="fab fa-telegram"></i></a>
                                    <a href="https://instagram.com/joraev_azam?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.youtube.com/channel/UCHNjoEcp7OcU1y8wANhSduw"><i class="fab fa-youtube"></i></a>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Scan me</h3>
                            <div class="newsletter">
                                <p>Scan Qr-Code to get more information</p>
                                <p>On the next page you can get more information about education of other countries.</p>

                            </div>
                        </div>
                    </div>
                    <img src="{% static 'img/qr-code (4).png' %}" alt="qr-code">
                </div>
            </div>
        </div>
<!-- Footer End -->


<!-- Footer Bottom Start -->
<!--<div class="footer-bottom">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 copyright">-->
<!--                        <p><a href="https://www.unipage.net/ru/universities_usa">World Education&copy; </a></p>-->
<!--                    </div>-->

<!--                    &lt;!&ndash;/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/&ndash;&gt;-->
<!--                    <div class="col-md-6 template-by">-->
<!--                        <p><a href="https://www.unipage.net/ru/universities_usa">World Education&copy; </a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!-- Footer Bottom End -->


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>